In [16]:
import pandas as pd
from feature_engineering import run_feature_engineering

In [17]:
df = pd.read_csv("./data/df_cleaned.csv")
# drop the unnamed column
try:
    df.drop(columns=["Unnamed: 0"], inplace=True)
except:
    pass

In [18]:
df.columns

Index(['title', 'selftext', 'subreddit', 'author', 'created_utc'], dtype='object')

Exploring the data in the dataframe will help us to understand our results better. We can use the `head` method to see the first few rows of the dataframe.

In [ ]:
df.head()

,title,selftext,subreddit,author,created_utc
0,tipsweird things relieve anxiety,tipsweird things relieve anxiety literally sta...,OCD,anxiouscharlie,1517297338
1,trusting girlfriend,help trusting girlfriend hi great typer apolog...,OCD,TonyAFC32,1517308622
2,suicideocd something worse,suicideocd something worse hopefully suffer su...,OCD,noodiagnosis,1517322871
3,therapist made recording true,therapist made recording intrusive true listen...,OCD,RevolutionaryFriend,1517337430
4,conditional,conditional anyone else vouch conditional form...,OCD,Colossus_Bastard,1517341002

In [ ]:
df.describe()

        created_utc
count  2.873800e+04
mean   1.576129e+09
std    3.125405e+07
min    1.517297e+09
25%    1.552529e+09
50%    1.574539e+09
75%    1.598549e+09
max    1.636070e+09